.dashboardWrapper {
  margin-top: 16px;
}

.dashboardHeader {
  background-color: var(--primary-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;

  display: flex;
  justify-content: space-between;
}

.createText {
  color: white;
}

.createPlus {
  margin-right: 5px;
  color: white;
}

.createPopover {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.createName {
  width: 200px;
  height: 50px;
}

/* Quiz css */

.quizsWrapper {
  background-color: #aaaaaa;
  min-height: 550px;
}

.quizCard {
  width: 390px;
  height: 250px;
  margin-top: 20px;
}

.quizCard:hover {
  box-shadow: 0px 2px 4px -1px rgba(83, 144, 217, 0.8),
    0px 4px 5px 0px rgba(83, 144, 217, 0.8),
    0px 1px 10px 0px rgba(83, 144, 217, 0.8);
}

.quizWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0px;
}

.quizImage {
  height: 120px;
  display: flex;
  justify-content: flex-end;
}

.deleteButton {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  margin-top: 8px;
}

.deleteIcon {
  height: 24px;
  width: 24px;
}

.deleteIcon:hover {
  color: var(--red);
}

.detailWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
}

.detailIcon {
  margin-right: 4px;
}

.controlsWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.controls {
  flex: 1;
  color: rgba(0, 0, 0, 0.7);
}

.controlIcon {
  margin-right: 8px;
}

.controlsPlay:hover {
  color: var(--green);
}

.controlsStop:hover {
  color: var(--red);
}

.controlsEdit:hover {
  color: var(--yellow);
}
