.mainTitle {
  text-align: center;
}

.editDescription {
  width: 500px;
  margin: 20px auto 0px;
}

.editQuizImage {
  height: 200px;
}

.uploadButtonWrapper {
  display: flex;
  justify-content: flex-end;
}
