.playForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.joinButton {
  width: 200px;
}

/*  Lobby  */
.loadingProgress {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*  play question */

.mainPlayGrid {
  height: 100vh;
  width: 100%;
}

.questionHeader {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    to bottom right,
    var(--spectrum-color-2),
    #8452d4
  );
  background-color: var(--spectrum-color-2);
  border-bottom: black solid 2px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.questionNumber {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  background-color: #3041c3;
}

.questionGridMedia {
  height: 40vh;
}

.questionGrid {
  height: 80vh;
}

.quizTimerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quizTimerTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.quizTimerText {
  font-size: 1.3em;
}

.speedTextMedia {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speedText {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonToggle {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/* Results  */

.questionResultWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.resultsCenterText {
  display: flex;
  justify-content: center;
}

.resultScoreExplanation {
  max-width: 600px;
}

.resultLine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultLineTextWrapper {
  min-width: 140px;
}

/* Question Media Bar */

.mediaItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quizImage {
  width: 30vh;
  height: 30vh;
}

.quizVideo {
  width: 560px;
  height: 315px;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .quizVideo {
    width: 320px;
    height: 180px;
  }
}
