.playForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionGrid {
  height: 70vh;
}

.questionDisplay {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.quizTimerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quizTimerTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.quizTimerText {
  font-size: 1.3em;
}

.questionResultWrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
