.mainWrapper {
  padding-top: 1em;
}

.descriptionText {
  background-color: var(--primary-color);
}

.authText {
  text-align: center;
  font-size: 1.5em;
}

a.link:link {
  text-decoration: none;
  color: white;
}

a.link:visited {
  text-decoration: none;
  color: white;
}
