.mainWrapper {
  padding-top: 1em;
}

.descriptionText {
  background-color: var(--primary-color);
}

.authText {
  text-align: center;
  font-size: 1.5em;
}

a.link:link {
  text-decoration: none;
  color: white;
}

a.link:visited {
  text-decoration: none;
  color: white;
}

.descriptionSplash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
}

.splashControls {
  border-radius: 5px;
  padding: 40px 0px;
}

.adminControls {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .descriptionSplashHeader {
    font-size: 3em;
    text-align: center;
  }
  .descriptionSplashText {
    font-size: 1.3em;
    text-align: center;
  }
}
