:root {
  --red: #b80043;
  --green: #44b800;
  --yellow: #cecc5e;
  --primary-color: #7400b8;
  --spectrum-color-2: #6930c3;
  --spectrum-color-3: #5e60ce;
  --spectrum-color-4: #5390d9;
  --spectrum-color-5: #4ea8de;
  --spectrum-color-6: #48bfe3;
  --spectrum-color-7: #56cfe1;
  --secondary-color: #64dfdf;
}
