:root {
  --red: #b80043;
  --green: #44b800;
  --yellow: #e7e218;
  --primary-color: #7400b8;
  --spectrum-color-2: #6930c3;
  --spectrum-color-3: #5e60ce;
  --spectrum-color-4: #5390d9;
  --spectrum-color-5: #4ea8de;
  --spectrum-color-6: #48bfe3;
  --spectrum-color-7: #56cfe1;
  --secondary-color: #64dfdf;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
